/* common css */

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    font-family: "Open Sans";
    margin: 0;
}

span,h3,h1,h2{
    font-family: "Open Sans";
    color: #333;
}

a{
    text-decoration: none;
    font-family: "Open Sans";
}

p{
    font-family: "Open Sans";
    color: #555;
}


.container{
    width: 1170px;
    margin: 0 auto;
    display: flow-root;
}

.titles{
    /* border-bottom: 1px solid ; */
    text-align: center;
    margin-bottom: 30px;
}

.titles h4{
    color: #555;
    font-size: 18px;
    position: relative;
    line-height: 0;
    border-bottom: 1px solid #8CBE45;
    margin: 10px 0;
}

.widget .titles pre{
    background-color: #323a45;
    font-size: 14px;
    color: #fff;
    font-family: "Open Sans";
}

.titles span{
    position: relative;
    line-height: 7px;
    top: 4px;
    display: inline-block;
}

.fa-circle-notch{
    font-size: 10px;
    color: #8CBE45;
}

pre{
    background-color: #fff ;
    padding: 0 !important;
    color: #555;
    font-family: "Open Sans";
} 

.readmore{
    float: right;
    background-color: #8CBE45;
    color: #fff;
    margin-top: -30px;
    font-size: 18px;
    border-radius: 2px;
	text-decoration: none;
	display: inline-block;
	padding: 10px 16px;
    transition: all 0.4s;
}

.readmore:hover{
    background-color: #659524;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

/* info-bar */

#info-bar{
    background-color: #323a45;
    padding: 5px 0 3px;
    line-height: 24px;
}

#info-bar i{
    margin-right: 5px;
}

#info-bar a{
    border: 1px solid #fff !important;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    line-height: 23px;
    margin: 0 2px;
    text-align: center;
    transition: background-color 400ms linear 0s;
    width: 25px;
}

#info-bar a:hover{
    background-color: #00AAF1;
}

#info-bar span{
    font-size: 13px;
    color: #fff;
    padding-right: 20px;
    float: left;
}

#social{
    float: right;
    margin: 0;
}

#social ul{
    list-style: none;
}

#social li{
    display: inline-block;
}

/* menu-bar */

#menu-bar{
    padding: 15px 0;
}

#banner{
    background: url(../images/base_2.jpg);
    height: 350px;
    position: relative;
}

.flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
  }

#banner .slider{
    width: 23.4%;
    position: absolute;
    top: 33px;
    right: 220px;
}

.slider-para1{
    color: #323a45;
    background-color: #fff;
    font-size: 25px;
    padding: 13px;
    position: absolute;
    top: 100px;
    left: 250px;
    border-radius: 4px;
    font-family: "Open Sans";
    font-weight: 600;
    display: block;
}

.slider-para2{
    color: #fff;
    background-color: #323a45;
    font-size: 15px;
    padding: 13px;
    position: absolute;
    top: 170px;
    left:250px;
    border-radius: 4px;
    font-family: "Open Sans";
    font-weight: 500;
    display: block;
}

#banner .readmore{
    font-size: 12.64px;
    line-height: 100%;
    position: absolute;
    bottom: 75px;
    left: 250px;
}

.fa-angle-down{
    margin-left: 5px;
    font-size: 11px;
}

/* banner ends */

#section-bar{
    padding: 20px 0;
}

.section{
    width: 32%;
    float: left;
    padding: 30px 10px;
    margin-right: 15px;
}

.section p{
    font-size: 14px;
    font-family:lato;
    margin: 0 0 10px 0;
    line-height:1.4;
}

.section h2{
    font-size: 20px ;
    font-weight: 600;
    margin: 0;
    color: #555;
    margin-bottom: 10px;
}

.section a{
    color: #8CBE45;
    font-size: 12px;
    transition: all 0.4s;
}

.section a:hover{
    color: #659524;
    margin-right: 6px;
}

.section .fa-laptop,
.section .fa-heart,
.section .fa-trophy,
.section .fa-cog,
.section .fa-volume-off,
.section .fa-briefcase
{
    background-color: #8cbe45;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}

.section .fa-angle-right{
    margin-left: 5px;
    transition: all 0.4s;
    font-size: 13px;
    color: #8cbe45;
}

.section .fa-angle-right:hover{
    color: #659524;
    
}


/* section-bar ends */

#photo-folder{
    padding: 30px 0;
}

.photos img{
    width: 18.5%;
    margin-right: 17px;
}

.photos #last:last-child{
    margin-right: 0;
}

/* photo-folder ends */

#members{
    background-image: url(../images/11.jpg) ;
    padding: 65px 0;
    text-align: center;
    background-attachment: fixed;
}

#members p{
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    line-height: 33px;
}

#members img{
    width: 70px;
    height: 70px;
    background-color: #fff;
    padding: 3px;    
    border-radius: 50%;
    text-align: center;
    
}

#members span{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-top: 15px;
    padding-left: 3px;
}

#members i{
    display: inline-block;
}

#members .fa-star{
    font-size: 12px;
    margin-bottom: 15px;
}

#members small{
    color:#8cbe45;
    font-size: 15px;
    line-height: 18px;
}

/* members ends */

.w50{
    width: 50%;
    float: left;
    line-height: 20px;
    padding: 30px 15px 0 15px;
}

.w50 p{
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;
}

.w50 ul{
    list-style: none;
    padding: 0;
}

.w50 li{
    line-height: 21px;
    padding: 3px 2px 3px 0px;
    transition: all 0.4s;
}

.w50 a{
    color: #555;
    font-size: 14px;
}

.w50 a:hover{
    color: #8cbe45;
}

.w50 .fa-angle-right{
    background-color: #8cbe45;
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
}

#wrapper{
 margin:0 auto;
 padding:0px;
 text-align:center;
}

#wrapper h1{
 margin-top:100px;
 font-size:55px;
 color:#2E64FE;
}

#wrapper h1 a{
 color:#2E64FE;
 font-size:18px;
}

.skill_name {
    width:37px;
    height:25px;
    line-height:25px;
    font-weight:bold;
    border-right: 1px #FFFFFF solid;
    font-size:11px;
    color:white;
    padding: 0 0 0 4px;
    clear:both;
    text-align: center;
    float:left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 1px;
}

#skill_php{
 background-color:#555;
}

#skill_asp{
 background-color:#555;
}

#skill_jsp{
 background-color:#555;
}

#skill_1{
    background-color:#555;
}

#skill_2{
    background-color:#555;
}

.skillbar_wrapper {
    float:left;
    position:relative;
    display:block;
    width:517px;
    background-color:#F8F8F8;
    border-radius:0px 3px 3px 0px;
    border-radius: 5px;
    height: 27px;
    border: 1px solid #F1F1F1;
    margin-bottom: 15px;
}

.skillbar_bar {
 height:25px;
 width:0px;
 border-radius:0px 3px 3px 0px;
}

#skillbar_php{
 background-color:#8CBE45;
 transition: all 0.4s;
}

#skillbar_php:hover{
    background-color: #659524;
}

#skillbar_asp{
 background-color:#8CBE45;
 transition: all 0.4s;
}

#skillbar_asp:hover{
    background-color:#659524;
}

#skillbar_jsp{
 background-color:#8CBE45;
 transition: all 0.4s;
}

#skillbar_jsp:hover{
    background-color:#659524;
   }

#skillbar_1{
    background-color:#8CBE45;
    transition: all 0.4s;
}

#skillbar_1:hover{
    background-color:#659524;
}

#skillbar_2{
    background-color:#8CBE45;
    transition: all 0.4s;
}

#skillbar_2:hover{
    background-color:#659524;
}

.skill_bar_percent {
    position:absolute;
    top:0;
    font-size:12px;
    height:25px;
    line-height: 24px;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-indent: 15px;
    text-transform: uppercase;
    box-shadow: none;
    text-shadow: none;
    transition: width 1s ease;
    border-radius: 0 5px 5px 0;
}

.skill_bar_percent a{
    color: #fff;
}

.skill_bar_percent a:hover{
    color: #fff;
}

#hello{
    margin-top: 20px;
}

/* .w50 ends */

#testimonials{
    padding: 30px 0;
}

.team{
    width: 23%;
    float: left;
    margin-right: 31px;
    border: 1px solid #f2f2f2;
    padding: 0px 10px 5px;
}

.team img{
    width: 100%;
}

 #last-man{
    margin-right: 0;
}

.team p{
    font-size: 14px;
    color: #666;
}

.team h3{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    color: #666;
}

.team small{
    float: right;
    font-size:12px;
    font-weight: 600;
    line-height: 30px;
}

/* testimonial ends */

#clients{
    padding: 30px 0;
}

#clients img{
    /* margin-right: 20px; */
    padding: 0 55px;
    float: left;
}

/* clients ends */

#download{
    padding: 30px 0;
    background-color: #f2f2f2;

}

#download .readmore{
    margin-top: -25px;
}

#download h3{
    font-size: 22px;
    color: #444;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    margin-top: 0;
}

#download p{
    font-size: 13px;
    display: inline-block;
    margin:0;
    line-height: 25px;
}

.fa-shopping-cart{
    font-size: 15px;
    margin-right: 10px;
}

/* download ends */

#footbar-sidebar{
    background-color: #323A45;
    padding: 30px 0;
}

.widget{
    width: 23%;
    margin-right: 30px;
    float: left;
}

.widget p{
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
}

.widget a{
    color: #fff;
}

.widget ul{
    font-size: 13px;
    list-style: none;
    padding-left: 0;
    line-height: 18px;
}

.widget span{
    color: #fff;
}

.widget strong{
    font-size: 12px;
    margin-right: 12px;
    float: left;

}

.widget li span{
    color:#919191;
    display:block;
    font-size: 13px;
    margin-bottom: 6px;
}

.widget li a{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
}

 #end{
    margin-right: 0;
}

#tweet li{
    color: #fff;
    margin-bottom: 5px;
}

#tweet span{
    color: #E3E3E3;;
    font-size: 12px;
    font-family: Lato;
    padding-left: 26px;
    font-weight: bold;
}

#tweet li p{
    line-height: 20px;
    margin:0 0 10px 26px;
}

.widget .fa-map-marker-alt,
.widget .fa-user,
.widget .fa-envelope,
.widget .fa-caret-right
{
   margin-right: 8px;
   color: #fff;
}

.widget .fa-twitter{
    font-size: 15px;
    margin-left: -30px;
    margin-right: 15px;
    color: #fff;
}

.widget .dgreen{
    transition: all 0.4s;
}

.widget .dgreen:hover{
    color: #659524;
}

/* footbar-sidebar ends  */

#footer{
    padding: 20px 0;
    background-color: #292f38;
}

#footer p{
    color: #AAA;
    font-size: 12px;
    line-height: 60px;
    margin: 0;
    float: left;
}

#footer a{
    color: #fff;
    transition: all 0.4s;
}

#footer-social{
    float: right;
    margin-top: 15px;
    display: inline-block;
}

#footer i{
    height: 40px;
    width: 30px;
    padding: 0 0 10px;
    margin-right: 2px;
    font-size: 16px;
    color: #666;
    line-height: 40px;
    text-align: center;
    transition: all 0.4s;
}

#footer .fa-facebook-f:hover{
    background-color: #1964DA;
    border-radius: 5px;
    color: #fff;
}

#footer .fa-twitter:hover{
    background-color: #3ABDD1;;
    border-radius: 5px;
    color: #fff;
}

#footer .fa-globe:hover{
    background-color: #F97193;
    border-radius: 5px;
    color: #fff;
}

#footer .fa-skype:hover{
    background-color: #00AAF1;;
    border-radius: 5px;
    color: #fff;
}

#footer .fa-wifi:hover{
    background-color: #F15200;;
    border-radius: 5px;
    color: #fff;
}

#footer p>a:hover{
    color: #AAA;
}

#footer .fa-angle-up{
    text-align: center;
    line-height:45px;
    padding-left: 8px;
    color: #fff;
}

/* footer ends */

#scrollUp {
    bottom:45px;
    right: 30px;
    padding: 10px 17px;
    background: #34495e;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
  }

  #scrollUp:hover{
    background-color: #334659;;
  }

  .owl-nav{
      display: inline-block;
      position: absolute;
      top: -45px;
      right: 0;
      text-align: center;
  }
  .owl-next span{
      font-size: 14px;
      background-color: #bdc3c7;
      color: #f2f2f2;
      cursor: pointer;
      width: 23px;
      height: 23px;
      display: block;
    }

  .owl-prev span{
      font-size: 14px;
      width: 23px;
      height: 23px;
      background-color: #f2f2f2;
      color: #666;
      display: block;
  }

  .owl-item{
      padding: 0 8px;
  }



  /*                    page - home 2 starts                                   */

  /* download starts */


    .downblack #download{
        background-color: #20242a !important;
    }
    
    .downblack #download h3 {
        font-size: 22px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        margin-top: 0;
    }

    .downblack #download p{
        color: #B0B0B0;
        margin-top: 5px;
        line-height: 20px;
    }

    .downblack #download .readmore{
        margin-top: -17px;
        padding: 13px 16px;
    }


    /* section-bar starts */

    #section-home2{
        padding: 50px 0 ;
    }

    #section-home2 .section{
        padding: 15px 15px 25px;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 0 4px #dedede;
        border-radius: 4px;
        transition: all 0.4s;
    }

    #section-home2 .section:hover{
        background-color: #8CBE45;
    }

    #section-home2 .section h2{
        color: #555;
        font-size: 20px;
        margin-bottom: 10px;
        transition: all 0.7s;
    }

    #section-home2 .section h2:hover{
        color: #fff;
    }

    #section-home2 .section p{
        font-size: 13px;
        color: #555;
        transition: all 0.5s;
    }

    #section-home2 .section p:hover{
        color: #fff;
    }

    #section-home2 .fa-heart {
        background-color: #313131;
        font-size: 24px;
        color: #fff;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        line-height: 60px;
        display: inline-block;
        text-align: center;
        margin: 10px 0 22px;
        transition: all 0.4s;
    }

    #section-home2 .fa-heart:hover{
        background-color: #fff;
        color: #8CBE45;
    }

    /* w50 stars */

    #home2-w50{
        background: url(../images/pattern-1.png);
        padding: 65px 0;
    }
    
    /* w50-2 starts */

    .w50_2{
        width: 50%;
        float: left;
        line-height: 20px;
        padding: 30px 15px 0 15px;
    }

    .post-recent img{
        width: 170px;
        float: left;
        margin: 0 25px 30px 0;
    }

    .post-details a{
        color: #21252b;
        font-size: 16px;
        transition:all 0.4s;
        
    }

    .post-details a:hover{
        color: #8CBE45;
    }

    .post-details h5{
        font-size: 16px;
        margin-bottom: 7px;
        margin-top: 0;
    }
    
    .post-details span{
        color: #BCBCBC;
        margin: 0 2px;
        font-size: 11px;
    }

    .post-details span a{
        color: #BCBCBC;
        margin: 0 2px;
        font-size: 11px;
    }

    .post-details p{
        font-size: 13px;
        color:#555;
        margin: 7px 0 0;
        line-height: 19px;
    }

    .post-details p a{
        font-size: 13px;
        color: #8CBE45;
    }

    .post-details p a:hover{
        color: #659524;
    }

    .dashed{
        border-color: #DBDFE2;
        border-style: dashed;
    }
    
    #scrollUp{
        bottom: 45px;
        right: 30px;
        padding: 13px 17px;
        background: #34495e;
        color: #fff;
        border-radius: 2px;
        font-size: 18px;
    }

    /* members starts */

    #members h4{
        color: #fff;
        font-size: 26px;
        margin-bottom: 21px;
    }

    #members .members-para{
        font-size: 16px;
        color: #CCC;
        margin-bottom: 45px;
        line-height: 20px;
    }

    #members .readmore{
        text-align: center;
        float: none;
    }

    #members p{
        font-size: 22px;
        margin-top: 30px;
    }

    #members strong{
        color: #B3ADAD;
        font-weight: 600;
        font-size: 20px;
    }


    /*              home-3 starts                             */


    #home-testimonials{
        padding: 50px 0;
    }

    #home-testimonials .team:last-child{
        margin-right: 0;
    }

    #home-testimonials .team{
        width: 31%;
        border: 1px solid #E7E6E6;
        transition: all 0.2s;
    }

    #home-testimonials .team:hover{
        border-bottom: 1px solid #8CBE45;
    }

    #home-testimonials .team h3{
        margin: 20px 0 10px;
        font-size: 16px;
    }

    #home-testimonials .team p{
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 20px;
    }

    #home3-w50{
        padding: 30px 0;
    }

    #home3-w50 .w50_2{
        padding: 0 15px;
    }

    #home3-w50 .w50{
        padding: 0;
    }




    /*                 home-4 starts               */



    /*              w70 starts            */

    #home4-w70{
        padding: 30px 0;
    }
    
    .w70{
        width: 70%;
        float: left;
        padding-right: 30px;
    }

    .w70 .team{
        width: 48%;
    }

    .w70 .team:last-child{
        margin-right: 0;
    }

    .w70 .team h2{
        font-size: 18px;
        margin: 15px 0 5px 0;
        color: #555;
        display: block;
        transition: all 0.4s;
        cursor: pointer;
    }

    .w70 .team h2:hover{
        color: #8CBE45;
    }

    .w70 .team span{
        color: #777;
        font-size: 12px;
        cursor: pointer;
        line-height: 24px;
        margin-bottom: 10px;
        font-weight: 500;
        transition: all;
    }

    .w70 .team span:hover{
        color: #8CBE45;
    }

    .w70 .team p{
        font-size: 13px;
        margin: 0 0 10px;
        color: #555;
    }

    .w70 .team a{
        color: #777;
        font-size: 12px;
        margin: 0 15px 0 0;
        transition: all 0.4s;
    }

    .w70 .team a:hover{
        color: #8CBE45;
    }

    .w70 .team .fas{
        margin-right: 4px;
    }

    .w30{
        width: 30%;
        float: right;
    }

    .w30-content{
        background: #EAEAEA;
        border-top: 3px solid #8CBE45;
        border-left: none;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .w30-content p{
        font-size: 13px;
        color: #444;
        font-style: italic;
        font-weight: 500;
        margin: 0;
        text-align: justify;
        position: relative;
        z-index: 9;
    }

    .w30 .fa-quote-right{
        font-size: 90px;
        position: relative;
        top: -120px;
        right: -20px;
        color: #fff;
    }

    .w30 .fa-sort-down{
        position: relative;
        font-size: 40px;
        color: #eaeaea;
        top: -90px;
        left: -300px;
    }

    .w30 img{
        width: 70px;
        height: 70px;
        background: #FFFFFF;
        border: 2px solid #8CBE45;
        padding: 3px;
        border-radius: 50%;
        float: left;
    }

    .w30 h1{
        float: left;
        color: #555;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        margin-top: 15px;
        text-align: justify;
        padding-left: 20px;
    }

    .w30 h1 small{
        color: #8CBE45;
        font-size: 13px;
        font-weight: 500;
    }
    



    /* shortcodes menu starts */



    #shortcodes-menu #menu{
        position: none;
        margin-top: 0;
        top: 0;
    }

    #shortcodes-menu-bar{
        padding: 12px 0;
    }


    /* banner-2 starts */

    #banner-2{
        background: url(../images/page_header.jpg) no-repeat;
        height: 150px;
        /* filter: blur(5px); */
        padding: 30px 0;
    }

    /* #banner-2 .container{
        position: absolute;
        z-index: 100;
    } */

    .shortcodes-content{
        overflow: auto;
        display: inline-block;
    }

    .shortcodes-content h2{
        background-color: #333;
        color: #fff;
        float: left;
        font-size: 24px;
        font-weight: 600;
        padding: 2px 9px;
        margin: 0 0 3px 0;
    }

    .shortcodes-content span{
        background-color: #fff;
        color: #666;
        font-size: 16px;
        padding: 5px 8px;
        border-left: 3px solid #8CBE45;
        clear: both;
        float: left;
    }

    .breadcrumbs{
        background: #fff;
        display: inline-block;
        list-style: none;
        float: right;
        padding: 2px 6px;
        border-left: 2px solid #8CBE45;
        margin-top: 30px;
    }

    .breadcrumbs ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .breadcrumbs ul li{
        display: inline-block;
        font-size: 12px;
        color: #888;
        padding: 0 5px 0 0;
        margin: 0 ;
        font-family: "Open Sans";
    }

    .breadcrumbs a{
        font-size: 12px;
        color: #8CBE45;
    }

    .breadcrumbs .fa-angle-right{
        padding-left: 8px;
        color: #888;
        font-size: 10px;
    }

    /* Content starts */

    #content{
        padding: 30px 0 60px;
    }

    #content p{
        font-family: "Open Sans",Helvetica,Arial,sans-serif;
        line-height: 20px;
        font-weight: 500;
        margin: 0 0 10px 0;
        color: #555;
        font-size: 13px;
    }

    #content-1{
        padding: 30px 15px;
    }


    #content-2{
        padding: 30px 0;
        overflow: auto;
    }

    #content-2 .w50{
        padding: 0 15px 0 15px;
    }


    #content-3{
        padding: 30px 0;
        overflow: auto;
    }


    #content-3 .w25{ 
        width: 25%;
        padding: 0 15px;
        float: left;
    }

    #content-4{
        padding: 30px 0;
        overflow: auto;
    }

    #content-4 .w33{
        width: 33%;
        float: left;
        padding: 0 15px;
    }

    #content-5 .w70{
        padding: 30px 15px;
    }

    #content-5 .w30{
        padding: 30px 15px;
    }

    /* pricing table starts */

    #pricing-table{
        padding: 30px 0;
    }

    .table-1{
        padding: 30px 0;
        overflow: auto;
    }

    .table-1 .titles{
        margin-bottom: 50px;
    }

    .pricing-table1{
        width: 25%;
        float: left;
        padding:  0 15px;
    }


    .table-header{
        color: #fff;
        padding: 0;
        box-shadow: 0px 1px 4px 0px #cccccc;
    }

    .table-header .heading{
        background: #F2F2F2;;
        color: #333;
        border: 1px solid #E4E4E4;
        border-bottom: none;
        text-align: center;
        display: block;
        padding: 15px 0;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 0px 1px 4px 0px #cccccc;
    }

    .table-header .price-value{
        background: #8CBE45;
        display: block;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0px 1px 4px 0px #cccccc;
    }

    .price-value span{
        font-size: 32px;
        color: #fff;
    }

    .price-value span.mo{
        font-size: 19px;
        color: #fff;
    }

    .pricing-content{
        background: #fff;
        border-left: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
        box-shadow: 0px 1px 4px 0px #cccccc;
    }

    .pricing-content ul{
        margin: 0;
        padding: 0;
    }

    .pricing-content li{
        padding: 15px 0;
        text-align: center;
        display: block; 
        overflow: auto;
        color: #434343;
        border-bottom: 1px solid #F0F0F0;
        font-size: 13px;
        font-family: "Open Sans";
        transition: all 0.2s;
    }

    .pricing-content li:hover{
        margin-left: 8px;
    }

    .pricing-content strong{
        font-weight: 700;
        font-size: 13px;
        margin-right: 5px;
    }

    .pricing-content li:nth-child(2n+2){
        background: #F4F4F4;
        box-shadow: 0px 1px 4px 0px #cccccc;
    }

    .pricing-tab{
        padding: 20px;
        text-align: center;
        background: #f2f2f2;
        font-size: 13px;
        overflow: auto;
        box-shadow: 0px 1px 4px 0px #cccccc;
    }

    .pricing-tab .readmore{
        padding: 6px 75px;
        font-size: 14px;
        margin: -5px;
        font-family: "Open Sans";
    }


    /* table-2 */

    .table-2  .table-header .price-value{
        background: #555;
    }

    .table-2  .titles{
        margin-bottom: 50px;
    }


    .table-2{
        padding: 30px 0;
        overflow: auto;
    }

    .table-2  .pricing-tab .readmore{
        background-color: 
        #555;
        font-family: "Open Sans";
    }

    .table-2  .pricing-tab .readmore:hover{
        background-color: #403F3F;;
    }
    
    .fa-dollar-sign{
        font-size: 12px;
    }

    /* ............................................................................. */
    /* About starts */

    #about-w70{
        padding: 30px 0;
    }

    #about-w70 .w70 img{
        float: left;
        margin: 0 15px 8px 0;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 4px;
    }

    #about-w70 .w70 p{
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 20px;
    }

    #about-w70 .skillbar_wrapper{
        width: 314px;
    }

    #about-w70 .w30 p{
        font-size: 13px;
        margin:30px 0 10px 0;
    }

    .about-ourself{
        padding: 30px 0;
    }

    /* about-w50 starts */

    #about-w50{
        padding: 30px 0;
    }

    #about-w50 .w50{
        padding: 30px 15px 30px 15px;
    }

    #about-w50 .w50 img{
        border-radius: 50%;
        height: 70px;
        width: 70px;
        padding: 2px;
        float: left;
        background: #FFFFFF;
        border: 2px solid #8CBE45;
    }

    #about-w50 h1{
        font-size: 14px;
        margin: 15px 0 10px;
        padding: 0 0 0 20px;
        display: inline-block;
        float: left;
        color: #555;
    }

    #about-w50 h1 small{
        font-size: 13px;
        line-height: 18px;
        color: #8CBE45;
        display: inline-block;
    }

    #about-w50 .fa-quote-right{
        font-size: 90px;
        position: relative;
        top: -115px;
        left: 230px;
        color: #fff;
    }

    #about-w50 .fa-sort-down{
        position: relative;
        font-size: 40px;
        color: #eaeaea;
        top: -90px;
        left: -295px;
    }

    #testi-about{
        padding: 30px 0;
    }
    
    

    
    

    

